{% extends '_base.html' %}

{% block content %}

    {% raw %}
<div ng-app='myApp' ng-controller="mainCtrl">
  <div class='row' style='margin-top: 50px'>
    <div class='col-md-2 col-lg-4'>
      <img class='img' src='../img/trump.png'>
    </div>
    <div class='col-md-4 col-lg-8'>
      <span class='name'>#Trump</span>
      <img src="{{ trump }}" class="temp">
  </div>
  <div class='col-md-2 col-lg-4'>
    <img class='img' src='../img/hillary.png'>
  </div>
  <div class='col-md-4 col-lg-8'>
    <span class='name'>#hillary</span>
      <img src="{{ hillary }}" class="temp">
</div>
</div>
<br><br>
<div class='row'>
  <div class="col-md-12">

    </div>
    {% endraw %}
  </div>

  {% endblock %}
